.App {
  text-align: center;
  height: 800px;
  width: 100%;
}

.dayLight{
    background: yellow;
}

.nightLight{
    background: #efefef;
}
.expenseList{
	list-style: none;
	justify-content: space-between;
}